<template>
  <div id="app">
<TabNav :tabs="['Home','Settings','Profile']" :slected="selected"  @selected="setSelected">
<Tabb :isSelected="selected=== 'Home' ">
<p>Some test text</p>
  </Tabb>
  <Tabb :isSelected= "selected === 'Settings'"> 
<h1> More Test Text </h1>
  </Tabb>
  <Tabb :isSelected= "selected ===  'Profile'">
      <ul>
<li>List Test 1</li>
<li>List Test 2</li>
<li>List Test 3</li>
<li>List Test 4</li>

      </ul>
      
       </Tabb>
  </TabNav>
  </div>
</template>

<script>
import TabNav from './components/TabNav.vue';
import Tabb from './components/Tabb.vue';
export default {
  name: 'App',
  components: { TabNav, Tabb},
    //HelloWorld
    data(){
return{
  selected: 'Home'
}
    },
    methods:{
setSelected(tab){
  this.selected= tab;

}
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
</style>
